h1 {
  text-align: center;
}

.menu{
  width:500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  background: rgb(54, 54, 255);
  border-radius: 30px;
}

.header > h1{
  text-align: center;
  color:white;
}
  /* }
.header{
  background: #000;
  position: relative;
  top:0px;
  left:0px;
} */
